{% extends base_template %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h3><i class="bi bi-journal-text"></i> Fanlar Ro'yxati</h3>

    {% if user.role == 'admin' %}
        <a href="{% url 'subject_add' %}" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Yangi fan qo'shish
        </a>
    {% endif %}
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Fan kodi</th>
                <th>Nomi</th>
                <th>Kredit</th>
                {% if user.role == 'admin' %}
                <th>Amallar</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for s in subjects %}
            <tr>
                <td>{{ s.id }}</td>
                <td><span class="badge bg-secondary">{{ s.code }}</span></td>
                <td><strong>{{ s.name }}</strong></td>
                <td>{{ s.credits }}</td>

                {% if user.role == 'admin' %}
                <td>
                    <a href="{% url 'subject_edit' s.uuid %}" class="btn btn-sm btn-info text-white">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a href="{% url 'subject_delete' s.uuid %}" class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
                {% endif %}

                </tr>
            {% empty %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
