{% extends base_template %}

{% block content %}
<div class="card shadow-sm border-0 col-md-6 mx-auto mt-5">
    <div class="card-body text-center">
        <h4 class="text-danger">Foydalanuvchini o'chirish</h4>
        <p>"<strong>{{ user_obj.username }}</strong>" tizimdan butunlay o'chiriladi. Rozimisiz?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Ha, o'chirilsin</button>
            <a href="{% url 'user_list' %}" class="btn btn-light">Bekor qilish</a>
        </form>
    </div>
</div>
{% endblock %}
