{% extends 'dashboard_base.html' %}

{% block sidebar_menu %}
<p class="menu-label text-uppercase fw-bold mb-2 ps-3 mt-3">Asosiy</p>
<ul class="nav flex-column">
    {% include 'includes/sidebar_link.html' with url_name='dashboard' icon='bi-speedometer2' label='Dashboard' exact='/' %}
    {% include 'includes/sidebar_link.html' with url_name='subject_list' icon='bi-book' label='Fanlar' check='subject' %}
    {% include 'includes/sidebar_link.html' with url_name='timetable_view' icon='bi-calendar3' label='Dars Jadvali' check='timetable' %}
    {% include 'includes/sidebar_link.html' with url_name='group_list' icon='bi-people' label='Guruhlar' check='group' %}
    {% include 'includes/sidebar_link.html' with url_name='classroom_list' icon='bi-door-open' label="O'quv Xonalari" check='classroom' %}
    {% include 'includes/sidebar_link.html' with url_name='exam_list' icon='bi-pencil-square' label='Imtihonlar' check='exam' %}
    {% include 'includes/sidebar_link.html' with url_name='material_list' icon='bi-folder' label='Materiallar' check='material' %}
</ul>

<p class="menu-label text-uppercase fw-bold mb-2 ps-3 mt-4">Rolga Mos</p>
<ul class="nav flex-column">
    {% include 'includes/sidebar_link.html' with url_name='teacher_dashboard' icon='bi-journal-check' label='Baholash Jurnali' check='teacher' %}
    {% include 'includes/sidebar_link.html' with url_name='notification_list' icon='bi-bell' label='Xabarlar' check='notification' %}
</ul>
{% endblock %}
